.card {
  overflow: hidden;
  background-color: white;
  padding: 0px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 5px 10px 10px rgba(rgba(2, 128, 144, 1), 0.2);
  top: 20px;
  width: 526px;
  margin: 10px 0px 20px 300px;
  text-decoration: none;
  border: 1px solid #f2f8f9;
  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.678);
    top: 16px;
    border: 1px solid #cccccc;
    background-color: white;
  }
}
